@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);


html,
body,
header,
#intro {
    height: 100%;
}



#intro {
  /*  background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;*/
  	background: url("img/inst.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}     

html,
      body,
      header,
      .carousel {
        height: 60vh;
      }

      @media (max-width: 740px) {
        html,
        body,
        header,
        .carousel {
          height: 100vh;
        }
      }

      @media (min-width: 800px) and (max-width: 850px) {
        html,
        body,
        header,
        .carousel {
          height: 100vh;
        }
      }

      @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: #1C2331!important;
              }
          }
.view,body,html{
	height:100%
	}

@media (max-width:740px){
	.full-page-intro{height:1000px
	}
}

.carousel{
	height:10%
	}

.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width:776px){
	.carousel{height:30%
	}
}


.navbar{
	background-color:rgba(0,0,0,.3)
	}


@media only screen and (max-width:768px){
	.navbar{background-color:#1C2331
	}
}

footer{
    background-color: #2E2D2D;
}

div h5{
    color: darkgray;
}

li h6, div h6{
    color: #33AFFF;
}

footer{
    position: relative;
}

section {
    padding: 20px 0;
}

i{
	color: #33AFFF;
}

.nav-link{
	color: black;
}

.blue-gradient{
    background-image: linear-gradient(45deg, skyblue,blue);
    color: white;
}

button{
    padding: 10px;
    box-shadow:  0 4px 10px 0 rgba(255, 255, 255, 0.418);
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .navbar-default .navbar-nav>li>a {
    width: 200px;
    font-weight: bold;
  }
  
  .mega-dropdown {
    position: static !important;
    width: 100%;
  }
  
  .mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  
  .mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: relative;
    top: -15px;
    left: 285px;
    z-index: 10;
  }
  
  .mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
  }
  
  .mega-dropdown-menu > .container > .row > li > ul {
    padding: 0;
    margin: 0;
  }
  
  .mega-dropdown-menu > .container > .row > li > ul > li {
    list-style: none;
  }
  
  .mega-dropdown-menu > .container > .row > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
  }
  
  .mega-dropdown-menu > .container > .row > li ul > li > a:hover,
  .mega-dropdown-menu > .container > .row > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
  }
  
  .mega-dropdown-menu .dropdown-header{
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
  }

  .mega-dropdown-menu > .container > .row > .dropdown-header > a:hover,
  .mega-dropdown-menu > .container > .row > .dropdown-header > a:focus{
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
  }

  .mega-dropdown-menu > .container > .row > .dropdown-header > a{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #428bca;
  white-space: normal;
  font-size: 28px;
  font-weight: bold;
  }

  .galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .galeria li {
    margin: 5px;
  }
  
  .galeria img {
    width: 150px;
    height: 100px;
  }
  
  /*Estilos del modal*/
  
  .modal {
    display: none;
  }
  
  .modal:target {
    
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .modal h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
  }
  
  .imagen {
    width: 100%;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
  }

  .imagen a:hover{
    color: #fff;
  }

  .modal .cerrar{
    color: #000;
  }
  
  .imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
  }
  
  .imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
  }
  
  .cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
  }